@import "ppal.scss";

.card--item-form {
    @include card-simple(26rem, $tertiary-color, $tertiary-color--light);
    @include disp-flex-column();

    align-items: center;

    .item-form__div--input {
        width: 90%;
        @include disp-flex-row();
        padding: 0.2rem 0rem;

        justify-content: space-between;
        align-items: center;

        input {
            padding: 0.2rem 0.4rem;
            width: 9rem;
        }
    }

    .item-form__div--textarea {
        width: 90%;
        @include disp-flex-column();
        padding: 0.2rem 0rem;

        justify-content: stretch;
        align-items: stretch;

        textarea {
            background-color: $white-transparent;
            border: solid $black 0.1rem;
            border-radius: 0.2rem;
            padding: 0.2rem 0.4rem;
            width: 100%;
        }
    }

    .item-form__div--topicTitles {
        border: 0.15rem solid $tertiary-color;
        margin: 0.6rem;
        width: 100%;
        border-radius: 0.25rem;
        padding: 1rem;

        @include disp-flex-column();
        align-items: center;

        select {
            background-color: $white-transparent;
            border-radius: 0.2rem;
            border: 0.1rem $black solid;
            padding: 0.2rem;
        }

        .item-form__div--newTopic {
            @include disp-flex-column();
            align-items: center;
            margin-top: 0.6rem;

            input {
                padding: 0.2rem 0.4rem;
                width: 9rem;
            }
        }
    }
}

.card--grammar-form {
    width: 30rem;

    .item-form__div--uses {
        margin: 2rem;
        padding: 1rem 2rem;
        width: 85%;
        border: 0.2rem $tertiary-color solid;
        border-radius: 0.2rem;

        @include disp-flex-column();
        align-items: stretch;

        .div--use {
            h3{
                text-align: center
            }
            @include disp-flex-column();
            .item-form__div--input {
                width: 100%;
                @include disp-flex-row();
                justify-content: space-between;

                input {
                    margin: 0;
                }
            }
            .item-form__div--textarea {
                @include disp-flex-column();
                width: 100%;
                textarea {
                    width: 100%;
                    margin: 0;
                }
            }

            hr{
                border-top: 0.15rem solid $tertiary-color;
                margin: 1rem;
            }
        }

    }
}

.div--uses__buttons{
    align-self: center;
    position: relative;

    input[type="submit"]:active {
        color: $black;
        box-shadow: 0 0.2rem 0 0 $black;
        transition: 0s top;
        transition: 0.2s box-shadow;
        position: relative;
        top: 0.2rem;
    }

    input[type="submit"]{
        font-size: 1.2rem;
        width: 3rem;
        transition: all 0.5s;
    }

    input[type="submit"]:hover{
        cursor: pointer;
        background-color: $grey--light;
    }
}

.admin-form__input--submit:active {
    color: $black;
    box-shadow: 0 0.2rem 0 0 $black;
    transition: 0s top;
    transition: 0.2s box-shadow;
    position: relative;
    top: 0.2rem;
    padding: 0;
}

.admin-form__input--submit {
    transition: all 0.5s;
}

.admin-form__input--submit:hover {
    background-color: $grey--light;
}

@media only screen and (max-width: 600px) {
    .card--item-form{
        width: 20rem;
    }

    .card--item-form input[type="text"]{
        width: 6rem;
    }
    }