/*This sass file contains the principal styles that are shared by all the files in this webpage.*/
/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: "Gagalin";
  src: url("./../fonts/Gagalin-Regular.otf");
}
@font-face {
  font-family: "JapaneseFont";
  src: url("./../fonts/Hosohuwafont.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #262626;
  width: 100%;
  font-size: 62.5%;
  background-image: url("./../imgs/hanami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: rgba(240, 240, 240, 0.6980392157);
  padding: 1rem 10rem;
  min-height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

main.auth {
  min-height: calc(100vh - 6rem);
}

footer,
header {
  background-color: #262626;
  color: #f0f0f0;
  height: 6rem;
}

.header--simple {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header--with-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header--with-nav nav ul {
  position: relative;
}
.header--with-nav nav li:active {
  color: #262626;
  box-shadow: 0 0.2rem 0 0 #262626;
  transition: 0s top;
  transition: 0s box-shadow;
  position: relative;
  top: 0.1rem;
  padding: 0;
  margin: 0;
}
.header--with-nav nav {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f34027;
  border-radius: 0.5rem;
}
.header--with-nav nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: relative;
}
.header--with-nav nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  list-style: none;
  width: 6rem;
  height: 2rem;
  text-align: center;
  border: solid #262626 0.1rem;
  box-shadow: 0 0.4rem 0 0 #262626;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #f34027;
  position: relative;
  bottom: 0.1rem;
  transition: 0.5s all;
}
.header--with-nav nav ul li:hover {
  background-color: #f38cb2;
  color: #262626;
  cursor: pointer;
  text-align: center;
}
.header--with-nav nav ul li.nav--current {
  background-color: #f38cb2;
  color: #262626;
}
.header--with-nav nav ul li.nav--current .navLink {
  color: #262626;
}
.header--with-nav nav ul .navLink {
  text-decoration: none;
  color: #f0f0f0;
  transition: 0.5s all;
}
.header--with-nav nav ul .navLink:hover {
  color: #262626;
}
.header--with-nav .logo,
.header--with-nav .logo label {
  font-size: 2rem;
}

p,
li,
label,
textarea {
  font-family: "Roboto";
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
.logo label {
  font-family: "Gagalin";
  margin-bottom: 0.6rem;
  font-weight: lighter;
}

h1 .japanese {
  font-size: 2.4rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.logo,
.logo label {
  font-size: 2.5rem;
  color: #f38cb2;
  font-weight: lighter;
}

.logo {
  color: #f34027;
}

.japanese {
  font-family: "JapaneseFont";
  font-size: 1.2rem;
}

.card--rotating h1,
.card--simple h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.container--row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card--simple {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #262626 0.1rem;
  box-shadow: 0 0.2rem 0 0 #262626;
  border-radius: 0.3rem;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.card--rotating {
  position: relative;
}

.card--full {
  height: 100%;
}

.card--full__front {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f34027 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f34027;
  border-radius: 0.3rem;
  width: 25rem;
  background: linear-gradient(to bottom left, #fed5e1 2rem, #fbc4bc 0);
  position: relative;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 2s;
  display: flex;
  flex-direction: column;
}

.card--rotating.rotated .card--full__back {
  transform: rotateY(0deg);
}

.card--rotating.rotated .card--full__front {
  transform: rotateY(180deg);
}

.card--full__back {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f38cb2 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f38cb2;
  border-radius: 0.3rem;
  width: 25rem;
  background: linear-gradient(to bottom left, #fbc4bc 2rem, #fed5e1 0);
  position: absolute;
  top: 0;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 2s;
  display: flex;
  flex-direction: column;
}

.notebook--add,
.notebook--remove {
  border: solid #262626 0.1rem;
  max-width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  background-color: rgba(240, 240, 240, 0.6980392157);
  position: relative;
}
.notebook--add svg,
.notebook--remove svg {
  height: 2rem;
  width: 2rem;
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
}

.notebook--remove {
  background-color: #00a876;
}

.card--rotating:hover .cornerSvg > .corner {
  transform: rotate(20deg);
  transform: scale(1.2);
}

.card--rotating:hover .notebook--add svg.pen,
.card--rotating:hover .notebook--remove svg.pen {
  transform: none;
}

.notebook--add:hover,
.notebook--remove:hover {
  background-color: #f38cb2;
}
.notebook--add:hover svg.pen,
.notebook--remove:hover svg.pen {
  transform: scale(1.2) !important;
}

.card--folded:hover {
  cursor: pointer;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1; /* Maintain opacity until nearly the end */
  }
  100% {
    opacity: 0; /* Change opacity at the end */
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.cornerSvg {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  transform: rotate(20deg);
}

.cornerSvg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.cornerSvg.dispNone svg {
  opacity: 0;
  animation: fadeOut 0.5s ease-in forwards;
}

.cornerSvg.dispNotNone svg {
  animation: fadeIn 1.2s ease-in forwards;
}

.container--grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.container--grid div {
  width: 20rem;
}

.link--goBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right: 1rem;
}
.link--goBack svg {
  height: 1.5rem;
  width: 1.5rem;
}
.link--goBack p {
  line-height: 2;
  font-size: 1.2rem;
  color: #262626;
}

.modal--errors {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f38cb2 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f38cb2;
  border-radius: 0.3rem;
  width: 25rem;
  background-color: #fed5e1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.modal--errors p {
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid #262626;
}
.modal--errors .modal--errors__errors {
  background-color: #fbc4bc;
}
.modal--errors .modal--errors__success {
  background-color: #b0e4d5;
}
.modal--errors input {
  background-color: #f38cb2;
  transition: all 0.5s;
}
.modal--errors input:hover {
  background-color: #f34027;
  color: #f0f0f0;
}

input.input--admin-modify {
  background-color: #b0e4d5;
  transition: all 0.5s;
}

input.input--admin-modify:hover {
  background-color: #00a876;
  color: #f0f0f0;
}

@media only screen and (max-width: 1130px) {
  .container--grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1080px) {
  .header--with-nav {
    height: 8rem;
  }
  .header--with-nav .logo {
    margin-left: 1rem;
  }
  .header--with-nav nav {
    display: flex;
    flex-direction: column;
    height: 7rem;
    margin: 4rem;
  }
  .header--with-nav nav ul {
    margin-bottom: 0.5rem;
  }
  .container--row {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 1rem 4rem;
  }
  .card--simple.grammar {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  main {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  main {
    padding: 1rem;
  }
  .container--row {
    display: flex;
    flex-direction: column;
  }
  .card--full__front {
    width: 24rem;
  }
  .card--full--back {
    width: 90%;
  }
  h1 .japanese {
    font-size: 2rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .container--grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .card--simple.grammar {
    margin: 4rem 1rem;
    width: 100%;
  }
  .card--simple.grammar .card--simple.grammar h2.title--grammarUse {
    text-align: center;
  }
  .card--simple.grammar .modal--errors {
    width: 22rem;
  }
}
.logReg .card--full {
  height: 25rem;
}

.logReg .card--full__front, .logReg .card--full__back {
  width: 20rem;
}

.logReg .card--full__front form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
}

.logReg .card--full__back form {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 1rem;
}

.container--switch {
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
}
.container--switch p {
  width: 6rem;
  text-align: center;
  font-weight: bolder;
}

.switch {
  height: 2rem;
  width: 3.8rem;
  background-color: #fbc4bc;
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f34027 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f34027;
  border-radius: 0.3rem;
  padding: 0rem;
  display: flex;
  flex-direction: row;
  transition: 0.5s all;
}

.switch:hover {
  cursor: pointer;
}

.switch__handle {
  height: 1.4rem;
  width: 1.4rem;
  background-color: #fbc4bc;
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f34027 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f34027;
  border-radius: 0.3rem;
  padding: 0rem;
  transition: 0.5s all;
}

.switch--active {
  justify-content: flex-end;
  background-color: #fed5e1;
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f38cb2 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f38cb2;
  border-radius: 0.3rem;
  padding: 0rem;
}

.switch--active .switch__handle {
  background-color: #fed5e1;
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f38cb2 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f38cb2;
  border-radius: 0.3rem;
  padding: 0rem;
}

.input--user {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23262626' fill-rule='evenodd' d='M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm10 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1m0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1m0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1m-8-5a3 3 0 1 1 6 0a3 3 0 0 1-6 0m1.942 4a3 3 0 0 0-2.847 2.051l-.044.133l-.004.012c-.042.126-.055.167-.042.195c.006.013.02.023.038.039c.032.025.08.064.146.155A1 1 0 0 0 6 17h6a1 1 0 0 0 .811-.415a.7.7 0 0 1 .146-.155c.019-.016.031-.026.038-.04c.014-.027 0-.068-.042-.194l-.004-.012l-.044-.133A3 3 0 0 0 10.059 14z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.input--email {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23262626' d='M20 12a8 8 0 1 0-3.562 6.657l1.11 1.664A9.953 9.953 0 0 1 12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10v1.5a3.5 3.5 0 0 1-6.396 1.966A5 5 0 1 1 15 8h2v5.5a1.5 1.5 0 0 0 3 0zm-8-3a3 3 0 1 0 0 6a3 3 0 0 0 0-6'/%3E%3C/svg%3E");
}

.input--password {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23262626' d='M6 22q-.825 0-1.412-.587T4 20V10q0-.825.588-1.412T6 8h1V6q0-2.075 1.463-3.537T12 1t3.538 1.463T17 6v2h1q.825 0 1.413.588T20 10v10q0 .825-.587 1.413T18 22zm6-5q.825 0 1.413-.587T14 15t-.587-1.412T12 13t-1.412.588T10 15t.588 1.413T12 17M9 8h6V6q0-1.25-.875-2.125T12 3t-2.125.875T9 6z'/%3E%3C/svg%3E");
}

input[type=text], input[type=password] {
  border: 0.1rem solid #262626;
  border-radius: 0.2rem;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  background-position: left center;
  padding-left: 2rem;
  margin: 0rem 1rem;
  background-color: rgba(240, 240, 240, 0.6980392157);
  height: 2rem;
}

.button--register:active {
  color: #262626;
  box-shadow: 0 0.2rem 0 0 #262626;
  transition: 0s top;
  transition: 0.2s box-shadow;
  position: relative;
  top: 0.2rem;
}

.button--register {
  background-color: #f38cb2;
  transition: all 0.5s;
}

.button--register:hover {
  background-color: #f34027;
}

.button--login:active {
  color: #262626;
  box-shadow: 0 0.2rem 0 0 #262626;
  transition: 0s top;
  transition: 0.2s box-shadow;
  position: relative;
  top: 0.2rem;
}

.button--login {
  background-color: #f34027;
  transition: all 0.5s;
}

.button--login:hover {
  background-color: #f38cb2;
}

input[type=button]:active, input[type=submit]:active {
  color: #262626;
  box-shadow: 0 0.2rem 0 0 #262626;
  transition: 0s top;
  transition: 0.2s box-shadow;
  position: relative;
  top: 0.2rem;
}

input[type=button], input[type=submit] {
  margin: 1rem 2rem;
  border: solid #262626 0.1rem;
  box-shadow: 0 0.4rem 0 0 #262626;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: bolder;
  cursor: pointer;
}

.modal-background {
  backdrop-filter: blur(0.2rem);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(38, 38, 38, 0.7176470588);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=logReg.css.map */
