/*This sass file contains the principal styles that are shared by all the files in this webpage.*/
/*Fonts*/
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/RobotoSlab-Regular.ttf");
}
@font-face {
  font-family: "Gagalin";
  src: url("./../fonts/Gagalin-Regular.otf");
}
@font-face {
  font-family: "JapaneseFont";
  src: url("./../fonts/Hosohuwafont.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #262626;
  width: 100%;
  font-size: 62.5%;
  background-image: url("./../imgs/hanami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  background-color: rgba(240, 240, 240, 0.6980392157);
  padding: 1rem 10rem;
  min-height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

main.auth {
  min-height: calc(100vh - 6rem);
}

footer,
header {
  background-color: #262626;
  color: #f0f0f0;
  padding: 1rem;
  min-height: 6rem;
}

.header--simple {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header--with-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header--with-nav nav ul {
  position: relative;
}
.header--with-nav nav li:active {
  color: #262626;
  box-shadow: 0 0.2rem 0 0 #262626;
  transition: 0s top;
  transition: 0s box-shadow;
  position: relative;
  top: 0.1rem;
  padding: 0;
  margin: 0;
}
.header--with-nav nav {
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f34027;
  border-radius: 0.5rem;
}
.header--with-nav nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  position: relative;
}
.header--with-nav nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  list-style: none;
  width: 6rem;
  height: 2rem;
  text-align: center;
  border: solid #262626 0.1rem;
  box-shadow: 0 0.4rem 0 0 #262626;
  border-radius: 0.3rem;
  text-align: center;
  background-color: #f34027;
  position: relative;
  bottom: 0.1rem;
  transition: 0.5s all;
}
.header--with-nav nav ul li:hover {
  background-color: #f38cb2;
  color: #262626;
  cursor: pointer;
  text-align: center;
}
.header--with-nav nav ul li.nav--current {
  background-color: #f38cb2;
  color: #262626;
}
.header--with-nav nav ul li.nav--current .navLink {
  color: #262626;
}
.header--with-nav nav ul .navLink {
  text-decoration: none;
  color: #f0f0f0;
  transition: 0.5s all;
}
.header--with-nav nav ul .navLink:hover {
  color: #262626;
}
.header--with-nav .button--toggleNav svg {
  width: 1rem;
}
.header--with-nav .logo,
.header--with-nav .logo label {
  font-size: 2rem;
}

p,
li,
label,
textarea {
  font-family: "Roboto";
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
.logo label {
  font-family: "Gagalin";
  margin-bottom: 0.6rem;
  font-weight: lighter;
}

h1 .japanese {
  font-size: 2.4rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.logo,
.logo label {
  font-size: 2.5rem;
  color: #f38cb2;
  font-weight: lighter;
}

.logo {
  color: #f34027;
}

.japanese {
  font-family: "JapaneseFont";
  font-size: 1.2rem;
}

.card--rotating h1,
.card--simple h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.container--row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.card--simple {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #262626 0.1rem;
  box-shadow: 0 0.2rem 0 0 #262626;
  border-radius: 0.3rem;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.card--rotating {
  position: relative;
}

.card--full {
  height: 100%;
}

.card--full__front {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f34027 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f34027;
  border-radius: 0.3rem;
  width: 25rem;
  background: linear-gradient(to bottom left, #fed5e1 2rem, #fbc4bc 0);
  position: relative;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: transform 2s;
  display: flex;
  flex-direction: column;
}

.card--rotating.rotated .card--full__back {
  transform: rotateY(0deg);
}

.card--rotating.rotated .card--full__front {
  transform: rotateY(180deg);
}

.card--full__back {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f38cb2 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f38cb2;
  border-radius: 0.3rem;
  width: 25rem;
  background: linear-gradient(to bottom left, #fbc4bc 2rem, #fed5e1 0);
  position: absolute;
  top: 0;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: transform 2s;
  display: flex;
  flex-direction: column;
}

.notebook--add,
.notebook--remove {
  border: solid #262626 0.1rem;
  max-width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  background-color: rgba(240, 240, 240, 0.6980392157);
  position: relative;
}
.notebook--add svg,
.notebook--remove svg {
  height: 2rem;
  width: 2rem;
  position: relative;
  bottom: 1rem;
  left: 0.5rem;
}

.notebook--remove {
  background-color: #00a876;
}

.card--rotating:hover .cornerSvg > .corner {
  transform: rotate(20deg);
  transform: scale(1.2);
}

.card--rotating:hover .notebook--add svg.pen,
.card--rotating:hover .notebook--remove svg.pen {
  transform: none;
}

.notebook--add:hover,
.notebook--remove:hover {
  background-color: #f38cb2;
}
.notebook--add:hover svg.pen,
.notebook--remove:hover svg.pen {
  transform: scale(1.2) !important;
}

.card--folded:hover {
  cursor: pointer;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1; /* Maintain opacity until nearly the end */
  }
  100% {
    opacity: 0; /* Change opacity at the end */
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div.cornerSvg {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  transform: rotate(20deg);
}

.cornerSvg {
  height: 1.5rem !important;
  width: 1.5rem !important;
}

.cornerSvg.dispNone svg {
  opacity: 0;
  animation: fadeOut 0.5s ease-in forwards;
}

.cornerSvg.dispNotNone svg {
  animation: fadeIn 1.2s ease-in forwards;
}

.container--grid {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.container--grid div {
  width: 20rem;
}

.link--goBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  right: 1rem;
}
.link--goBack svg {
  height: 1.5rem;
  width: 1.5rem;
}
.link--goBack p {
  line-height: 2;
  font-size: 1.2rem;
  color: #262626;
}

.modal--errors {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #f38cb2 0.1rem;
  box-shadow: 0 0.2rem 0 0 #f38cb2;
  border-radius: 0.3rem;
  width: 25rem;
  background-color: #fed5e1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.modal--errors p {
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid #262626;
}
.modal--errors .modal--errors__errors {
  background-color: #fbc4bc;
}
.modal--errors .modal--errors__success {
  background-color: #b0e4d5;
}
.modal--errors input {
  background-color: #f38cb2;
  transition: all 0.5s;
}
.modal--errors input:hover {
  background-color: #f34027;
  color: #f0f0f0;
}

input.input--admin-modify {
  background-color: #b0e4d5;
  transition: all 0.5s;
}

input.input--admin-modify:hover {
  background-color: #00a876;
  color: #f0f0f0;
}

@media only screen and (max-width: 1130px) {
  .container--grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 1080px) {
  .header--with-nav {
    height: 8rem;
  }
  .header--with-nav .logo {
    margin-left: 1rem;
  }
  .header--with-nav nav {
    display: flex;
    flex-direction: column;
    height: 7rem;
    margin: 4rem;
  }
  .header--with-nav nav ul {
    margin-bottom: 0.5rem;
  }
  .container--row {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 1rem 4rem;
  }
  .card--simple.grammar {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  main {
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 800px) {
  main {
    padding: 1rem;
  }
  .container--row {
    display: flex;
    flex-direction: column;
  }
  .card--full__front {
    width: 24rem;
  }
  .card--full--back {
    width: 90%;
  }
  h1 .japanese {
    font-size: 2rem;
  }
  h1 {
    font-size: 1.2rem;
  }
  .container--grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .card--simple.grammar {
    margin: 4rem 1rem;
    width: 100%;
  }
  .card--simple.grammar .card--simple.grammar h2.title--grammarUse {
    text-align: center;
  }
  .card--simple.grammar .modal--errors {
    width: 22rem;
  }
}
.card--notebook {
  padding: 1.6rem 2.6rem;
  text-align: justify;
  border: solid #8c8c8c 0.1rem;
  box-shadow: 0 0.2rem 0 0 #8c8c8c;
  border-radius: 0.3rem;
  width: 80%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-image: linear-gradient(0deg, transparent 24%, #d9d9d9 25%, #d9d9d9 26%, transparent 27%, transparent 74%, #d9d9d9 75%, #d9d9d9 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, #d9d9d9 25%, #d9d9d9 26%, transparent 27%, transparent 74%, #d9d9d9 75%, #d9d9d9 76%, transparent 77%, transparent);
  background-size: 2rem 2rem;
  padding: 3rem 8rem;
}
.card--notebook h1 {
  font-size: 2rem;
  text-align: center;
  align-self: center;
}
.card--notebook h2 {
  font-size: 1.4rem;
}
.card--notebook h3 {
  font-size: 1.6rem;
}
.card--notebook h3 label {
  font-size: 1.6rem;
}
.card--notebook div {
  margin-top: 1.6rem;
}

.card--notebook__item {
  margin: 2rem 1.6rem;
}
.card--notebook__item li {
  list-style: none;
  margin-left: 1rem;
}

.message--empty {
  text-align: center;
  align-self: center;
  margin-top: 2rem;
}

.mark {
  margin: 0 -0.4rem;
  padding: 0.1rem 0.6rem;
  border-radius: 0.8rem 0.3rem;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  box-decoration-break: clone;
}

.h3--kanji {
  background-image: linear-gradient(to right, rgba(243, 140, 178, 0.0784313725), rgba(243, 140, 178, 0.6862745098) 4%, rgba(243, 140, 178, 0.0784313725));
}

.h3--vocabulary {
  background-image: linear-gradient(to right, rgba(243, 63, 39, 0.0823529412), rgba(243, 63, 39, 0.4941176471) 4%, rgba(243, 63, 39, 0.0823529412));
}

.h3--grammar, .h2--grammar {
  background-image: linear-gradient(to right, rgba(0, 168, 118, 0.0784313725), rgba(0, 168, 118, 0.6235294118) 4%, rgba(0, 168, 118, 0.0784313725));
}

.h2--grammar {
  padding: 0.1rem;
  padding-left: 2rem;
}

.list--grammarUses {
  padding-left: 4rem;
  padding-top: 1rem;
}
.list--grammarUses li {
  padding-top: 0.2rem;
}

@media only screen and (max-width: 600px) {
  .card--notebook {
    width: 90%;
    padding: 3rem 1rem;
  }
  .list--grammarUses {
    padding-left: 1rem;
  }
}

/*# sourceMappingURL=notebook.css.map */
