/*This sass file contains the principal styles that are shared by all the files in this webpage.*/


//Variables
//Colors
$ppal-color: #F34027;
$ppal-color--light: #FBC4BC;
$ppal-color--lighter: #f9e4e0;
$ppal-color--transparent: #f33f277e;
$ppal-color--moreTransparent: #f33f2715;


$secondary-color: #F38CB2;
$secondary-color--light: #FED5E1;
$secondary-color--transparent: #f38cb2af;
$secondary-color--moreTransparent: #f38cb214;


$tertiary-color: #00a876;
$tertiary-color--light: #b0e4d5;
$tertiary-color--transparent: #00a8769f;
$tertiary-color--moreTransparent: #00a87614;

$grey: #8c8c8c;
$grey--light: #bfbfbf;
$grey--lighter: #d9d9d9; 
$white: #F0F0F0;
$white-transparent: #f0f0f0b2;
$black: #262626;
$black-transparent: #262626b7;

@mixin card($border-color: $black){
    padding: 1.6rem 2.6rem;
    text-align: justify;

    border: solid $border-color 0.1rem;
    box-shadow: 0 0.2rem 0 0 $border-color;
    border-radius: 0.3rem;
}

@mixin card-simple($width:100%, $border-color: $black, $background-color:$white){
    @include card($border-color);
    width: $width;
    background-color: $background-color;

}

@mixin card-folded($width:100%, $border-color: $black, $background-color:$white, $other-color:$white){
    @include card($border-color);
    width: $width;
    background:linear-gradient(to bottom left, $other-color 2rem, $background-color 0)
}

@mixin button($border-color: $black){
    border: solid $border-color 0.1rem;
    box-shadow: 0 0.4rem 0 0 $border-color;
    border-radius: 0.3rem;
}

@mixin disp-flex-column{
    display: flex;
    flex-direction: column;
}

@mixin disp-flex-row{
    display: flex;
    flex-direction: row;
}

/*Fonts*/
@font-face {
    font-family: 'Roboto';
    src: url("./../fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: 'Gagalin';
    src: url("./../fonts/Gagalin-Regular.otf");
}

@font-face {
    font-family: 'JapaneseFont';
    src: url("./../fonts/Hosohuwafont.ttf");
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: $black;
    width: 100%;
    font-size: 62.5%;
    background-image: url("./../imgs/hanami.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;

    @include disp-flex-column();
    justify-content: space-between;
}

main{
    background-color: $white-transparent;
    padding: 1rem 10rem;
    min-height: calc(100vh - 12rem);
    @include disp-flex-column();
    gap: 1rem;
    align-items: center;
}

main.auth{
    min-height: calc(100vh - 6rem);
}

footer, header{
    background-color: $black;
    color: $white;
    height: 6rem;
}

//HEADERS----------------------------------------------------------------------------------------------------------------
.header--simple{
    @include disp-flex-row();
    align-items: center;
    justify-content: center;
}

.header--with-nav{
    @include disp-flex-row();
    align-items: center;
    justify-content: space-around;

    nav{
        @include disp-flex-row();
        width: 75%;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: $ppal-color;
        border-radius: 0.5rem;

        ul{
            @include disp-flex-row();
            gap: 0.5rem;
            position: relative;
            

            li {
                @include disp-flex-column();
                justify-content: center;
                font-size: 1rem;
                list-style: none;
                width: 6rem;
                height: 2rem;
                text-align: center;
                @include button($black);
                background-color: $ppal-color;
                position: relative;
                bottom: 0.1rem;
                transition: 0.5s all;
            }

            li:hover{
                background-color: $secondary-color ;
                color: $black;
                cursor: pointer;
            }

            li.nav--current{
                background-color: $secondary-color ;
                color: $black;

                .navLink{
                    color: $black;
                }
            }

            .navLink{
                text-decoration: none;
                color: $white;
                transition: 0.5s all;
            }

            .navLink:hover{
                color: $black;
            }

        }
    }

    .logo, .logo label{
        font-size: 2rem;
    }
}

//FONTS, COLORS AND SIZES FOR TEXT
p, li, label{
    font-family: 'Roboto';
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, .logo label{
    font-family: 'Gagalin';
    margin-bottom: 0.6rem;
    font-weight: lighter;
}

h1{

}

h2{
    font-size: 1.4rem;
}

.logo, .logo label{
    font-size: 2.5rem;
    color: $secondary-color;
    font-weight: lighter;
}

.logo{
    color: $ppal-color;
}

.japanese{
    font-family: "JapaneseFont";
    font-size: 1.2rem;
}

h1 .japanese{
    font-size: 2.5rem;
}

//CARDS------------------------------------------------------------------------------------------------------
.card--rotating h1, .card--simple h1{
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
}

.container--row{
    @include disp-flex-row();
    gap: 1rem;
}

.card--simple{
    @include card-simple();
    @include disp-flex-column()
}

.card--rotating{
    position: relative;
}

.card--full{
    height: 100%;
}

.card--full__front{
    @include card-folded(25rem, $ppal-color, $ppal-color--light, $secondary-color--light);
    position: relative;
    height: 100%;

    backface-visibility: hidden;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: transform 2s;

    @include disp-flex-column();
}

.card--rotating.rotated .card--full__back{
    transform: rotateY(0deg);
}

.card--rotating.rotated .card--full__front{
    transform: rotateY(180deg);
}

.card--full__back{
    @include card-folded(25rem, $secondary-color, $secondary-color--light, $ppal-color--light);
    position: absolute;
    top: 0;
    height: 100%;

    backface-visibility: hidden;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: transform 2s;

    @include disp-flex-column();
}

.notebook--add, .notebook--remove{
    border: solid $black 0.1rem;
    max-width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.2rem;
    background-color: $white-transparent;
    position: relative;

    svg{
        height: 2rem;
        width: 2rem;
        position: relative;
        bottom: 1rem;
        left: 0.5rem;
    }
}

.notebook--remove{
    background-color: $tertiary-color;
}


//Hover on rotating cards animations
.card--rotating:hover .cornerSvg > .corner{
    transform: rotate(20deg);
    transform: scale(1.2);
}

.card--rotating:hover .notebook--add svg.pen, .card--rotating:hover .notebook--remove svg.pen {
    transform: none;
}

.notebook--add:hover, .notebook--remove:hover{
    background-color: $secondary-color;

    svg.pen{
        transform: scale(1.2)!important; //I needed to put !important because even though I was
                                         //using .cornerSvg and .corner, I needed to use transform: none
                                         //in order to make the svg stay the same scale when the parent
                                         //element card--rotating was hovered
    }
}

.card--folded:hover{
    cursor: pointer;
}
//CARDS SVG DISSAPEARS
//This section was needed because the svg corner in the back, as it has display absolute, 
//doesn't go with the flow of the rest of the card, so i need to manually make it dissapear
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    99% {
      opacity: 1; /* Maintain opacity until nearly the end */
    }
    100% {
      opacity: 0; /* Change opacity at the end */
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  div.cornerSvg {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    transform: rotate(20deg);
  }

  .cornerSvg{
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
  
  .cornerSvg.dispNone {
    svg {
      opacity: 0;
      animation: fadeOut 0.5s ease-in forwards; 
    }
  }

  .cornerSvg.dispNotNone{
    svg{
        animation: fadeIn 1.2s ease-in forwards;
    }
  }

  .container--grid {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;

    div {
        width: 20rem;
    }
}

.link--goBack{
    @include disp-flex-row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 1rem;

    svg{
        height: 1.5rem;
        width: 1.5rem;
    }

    p{
        line-height: 2;
        font-size: 1.2rem;
        color: $black;
    }
    
}

.modal--errors{
    @include card-simple(25rem, $secondary-color, $secondary-color--light);
    @include disp-flex-column();
    align-items: stretch;

    p{
        padding: 1rem;
        text-align: center;
        border: 0.1rem solid $black;
    }

    .modal--errors__errors{
        background-color: $ppal-color--light;
    }

    .modal--errors__success{
        background-color: $tertiary-color--light;
    }

    input{
        background-color: $secondary-color;
        transition: all 0.5s;
    }

    input:hover{
        background-color: $ppal-color;
        color: $white;
    }
}

input.input--admin-modify{
    background-color: $tertiary-color--light;
    transition: all 0.5s;
}

input.input--admin-modify:hover{
    background-color: $tertiary-color;
    color: $white;
}
